<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/css/admin_dashboard_styles.css">
</head>
<body>

<div class="nad dash" > 

    <div id="nav_bar" style="position: sticky; top: 0px;">
        <div class="nad dash nav">
            <div>
                <a href="">revenue</a>
            </div>
            <div>
                <a href="">users statistic</a>
            </div>
            <div>
                <a href="">restaurents</a>
            </div>
            <div>
                <a href="">profile</a>
            </div>
            <div class="naddashlogout">
                <a href="">logout</a>
            </div>
        </div>
    </div>

    <div class="nad maincontent">
        <!-- Main content start -->
        <div class="nad container" id="revenue" style="height: 700px;">
            <canvas id="canvas_admi_revenue"></canvas>
        </div>

        <div class="users-container" id="users-count">
            <div class="user-box">
                <h6>Active Users Count</h6>
                <div class="user-count"><h1><%= active_user_count%></h1></div>
            </div>
            <div class="user-box">
                <h6>Total Users Count</h6>
                <div class="user-count"><h1><%= total_user_count%></h1></div>
            </div>
        </div>

        <div class="nad restaurents_list" style="overflow: auto; height: 300px;">
            <button style="display:block;" id="naddashbtn">add</button>


            <% restaurents_list.forEach(restaurent =>{%>
                    
                
                <div class="naddash-container">
                    <div class="naddash-details">
                        <!-- Name -->
                        <div class="naddash-name">
                            <strong>Name:</strong> <%= restaurent.name %>
                        </div>
                
                        <!-- Location -->
                        <div class="naddash-location">
                            <strong>Location:</strong> <%= restaurent.location %>
                        </div>
                
                        <!-- Payment Amount -->
                        <div class="naddash-payment">
                            <strong>Payment Amount:</strong> <%= restaurent.amount%>
                        </div>
                
                        <!-- Date Joined -->
                        <div class="naddash-date">
                            <strong>Date Joined:</strong> <%= restaurent.date%>
                        </div>
                    </div>
                </div>
                
                


            <%})%>




        </div>

        <div class="nadmin profile">

            
            <h2 class="profile-name">John Doe</h2>
            <p class="profile-role">Administrator</p>
            <p class="profile-email">johndoe@example.com</p>


        </div>

        <!-- Main content end -->
    </div>
</div>

<script src="/js/admin_dash_script.js"></script>

</body>
</html>
