<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/css/customer_dashboard_styles.css">

   <style>
       
    </style>
</head>
<body>

    <div class="navbar">
        <div class="nav-links">
            <a href="#home">Home</a>   
            <a href="#prev_order">Orders</a>
            <a href="#" id="chg_pass">change password</a>
        </div>
        <a href="/logout" style="margin-left: auto;">Logout</a>
    </div>

    <div class="nadcuscontainer1" id="home">
        <div class="profile box" style="background-color: aqua; padding: 5px">
            <span></span>
            <span>logout</span>
            <div>
                <img src="<%=img_url%>" alt="" width="40px" style="border-radius: 50%;">
                <h3 style="display: inline; position: relative; bottom: 30px;"><%= name %></h3>
            </div>
        </div>
        <div class="nadcusdashboards box" style="background-color: black;" id="prev_order">
            <canvas id="pichart1" width="200" height="200" style="float: left;"></canvas>
            <ul style="color: antiquewhite; position: relative; left: 0px;">
                <% item_list.forEach(product =>{%>
                    <li><%=product%></li>
                <%})%>
            </ul>
            <canvas id="pichart2" width="200" height="200" style="float: left; clear: both;"></canvas>
            <ul style="color: antiquewhite; position: relative; left: 0px; ">

                <% restaurent_list.forEach(product =>{%>
                    <li><%=product%></li>
                <%})%>

            </ul>
        </div>
    </div>

    
        
        <div class="ncuspastorder box" style="height: 400px; overflow: auto;">
            <div class="ncusprevdiv" style="overflow: auto;">

                <% prev_order.forEach(rest => { %>
                    <div style="overflow: auto; height: 150px; border: 1px solid black; padding: 10px;">
                        <h1><%= rest.name %></h1>
                        <ul>
                            <% rest.items.forEach(item => { %>
                                <li><%= item %></li>
                            <% }) %>
                        </ul>
                    </div>
                <% }) %>
            </div>
        </div>
    
       
       
       
        <div class="ncusdasheditform box none">

            <div id="cross_symbol">
                <a href="#" class="close-btn">&#10006;</a>  
            </div>
            <h1>Change Password</h1>
            <div></div>


            <form action="" method="post">
                <label for="ncusformoldpass">Old Password</label>
                <input type="text" id="ncusformoldpass">
                <br>
                <label for="ncusformnewpass">New Password</label>
                <input type="text" id="ncusformnewpass">
            </form>
        </div>








        


    <script src="/js/customer_dashboard_script.js"></script>



    
    
</body>
</html>
